<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Add training! </title>
    <style>
        body { font-family: sans-serif; margin: 40px; }
        form { display: flex; flex-direction: column; width: 300px; gap: 10px; }
        input, textarea { padding: 8px; }
    </style>
</head>
<body>
<h1>New training...</h1>

<form method="POST">
    <label>Date:</label><br>
    <input type="text" name="date" value="{{ today_date }}" placeholder="YYYY-MM-DD" required><br><br>

    <label>Sport type:</label>
    <select name="sport_id" required>
        <option value="" disabled selected>Choose a sport...</option>
        {% for sport in sports %}
            <option value="{{ sport['id'] }}">{{ sport['name'] }}</option>
        {% endfor %}
    </select><br><br>

    <label>Length (min):</label>
    <input type="number" name="duration" required>

    <button type="submit">Save training</button>
</form>

<br>
<a href="/">Back to home</a>
</body>
</html>