<!DOCTYPE html>
<html lang="en">
<head>
    <title>My workout diary</title>
</head>
<body>
<p>Hello, {{ current_user.username }}! <a href="/logout">Log out</a></p>
<h1>My trainings</h1>
<a href="/add">Add training...</a>
<ul>
    {% for workout in workouts %}
    <li>
        {{ workout['date'] }} - {{ workout['sport_type'] }} ({{ workout['duration'] }} min)
        | <a href="/edit/{{ workout['id'] }}" style="color: blue;">Edit</a>
        | <a href="/delete/{{ workout['id'] }}" onclick="return confirm('Are you sure?');" style="color: red;">Delete</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
<a href="/">← Back to Dashboard</a>